body.light-theme {
  background-color: #f9f9f9;
  color: #222;
  transition: background-color 0.4s, color 0.4s;
}

body.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
  transition: background-color 0.4s, color 0.4s;
}

body.dark-theme li {
  background-color: #1e1e1e !important;
  border-color: #333 !important;
}
